# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environments
venv/
.venv/
env/
*.egg-info/
.Python

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db

# Logs and databases
*.log

# Temporary files
tmp/
*.swp